{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Liste des produits</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ product.image }}" class="card-img-top" alt="Image du produit">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Variants : {{ product.variants|length }}</p>
                        <ul>
                            {% for variant in product.variants %}
                                <li>{{ variant.name }} - {{ variant.price }}€ (Stock: {{ variant.stock }})</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
